.icon-svg {
	display: inline-block;
	width: 1em;
	height: 1em;
	fill: currentColor;	
}

.icon-svg-arrow-down {
	font-size:(26/10)*1rem;
	width:(26/26)*1em;
}
.icon-svg-arrow-slider {
	font-size:(512/10)*1rem;
	width:(512/512)*1em;
}
.icon-svg-basket {
	font-size:(512/10)*1rem;
	width:(512/512)*1em;
}
.icon-svg-bedroom {
	font-size:(100/10)*1rem;
	width:(100/100)*1em;
}
.icon-svg-commode {
	font-size:(100/10)*1rem;
	width:(100/100)*1em;
}
.icon-svg-hallway {
	font-size:(100/10)*1rem;
	width:(100/100)*1em;
}
.icon-svg-kitchen {
	font-size:(100/10)*1rem;
	width:(100/100)*1em;
}
.icon-svg-lamp {
	font-size:(100/10)*1rem;
	width:(100/100)*1em;
}
.icon-svg-living {
	font-size:(100/10)*1rem;
	width:(100/100)*1em;
}
.icon-svg-office {
	font-size:(100/10)*1rem;
	width:(100/100)*1em;
}
.icon-svg-pouf {
	font-size:(100/10)*1rem;
	width:(100/100)*1em;
}
.icon-svg-register {
	font-size:(1792/10)*1rem;
	width:(1792/1792)*1em;
}
.icon-svg-search {
	font-size:(512/10)*1rem;
	width:(512/512)*1em;
}
.icon-svg-sign-in {
	font-size:(1792/10)*1rem;
	width:(1792/1792)*1em;
}
.icon-svg-sofa {
	font-size:(100/10)*1rem;
	width:(100/100)*1em;
}
.icon-svg-tables {
	font-size:(100/10)*1rem;
	width:(100/100)*1em;
}
.icon-svg-test {
	font-size:(512/10)*1rem;
	width:(512/512)*1em;
}
.icon-svg-wardrobe {
	font-size:(100/10)*1rem;
	width:(100/100)*1em;
}
