
<div class="swiper-container">
    <div class="swiper-wrapper">
        <div class="swiper-slide">
            <picture class="swiper-slide__frame" data-swiper-parallax="-200">
                <source srcset="img/slide_1-mobile.jpg" media="(max-width: 749px)">
                <source srcset="img/slide_1-tablet.jpg" media="(min-width: 750px and max-width: 1299px)" >
                <img src="img/slide_1-desktop.jpg" alt="" class="swiper-slide__img">
            </picture>
            <div class="swiper-slide__content content-slide" data-swiper-parallax="-300" data-swiper-parallax-duration="1600">
                <h2 class="content-slide__title"  data-swiper-parallax="-300"  data-swiper-parallax-duration="1200" >Інтернет магазин <span class="content-slide__title--red">"ДОДОМУ"</span> - найкращі
                    рішення для Вашого інтер'єру</h2>
                <p class="content-slide__text"  data-swiper-parallax="-600"  data-swiper-parallax-duration="1600">У нас Ви можете купити меблі з Польщі за найбільш привабливими цінами від <br>
                    виробників: Signal, Halmar, VOX, CAMA mebel, BRW.</p>
            </div>
        </div>
        <div class="swiper-slide">
            <figure class="swiper-slide__frame">
                <img src="img/slide_2-desktop.jpg" alt="" class="swiper-slide__img">
            </figure>
            <div class="swiper-slide__content content-slide">
                <h2 class="content-slide__title"  data-swiper-parallax="-300"  data-swiper-parallax-duration="1200" >Інтернет магазин <span class="content-slide__title--red">"ДОДОМУ"</span> - найкращі
                    рішення для Вашого інтер'єру</h2>
                <p class="content-slide__text"  data-swiper-parallax="-600"  data-swiper-parallax-duration="1600">У нас Ви можете купити меблі з Польщі за найбільш привабливими цінами від <br>
                    виробників: Signal, Halmar, VOX, CAMA mebel, BRW.</p>
            </div>
        </div>
        <div class="swiper-slide">
            <figure class="swiper-slide__frame">
                <img src="img/slide_3-desktop.jpg" alt="" class="swiper-slide__img">
            </figure>
            <div class="swiper-slide__content content-slide" data-swiper-parallax="-300" data-swiper-parallax-duration="1600">
                <h2 class="content-slide__title"  data-swiper-parallax="-300"  data-swiper-parallax-duration="1200" >Інтернет магазин <span class="content-slide__title--red">"ДОДОМУ"</span> - найкращі
                    рішення для Вашого інтер'єру</h2>
                <p class="content-slide__text"  data-swiper-parallax="-600"  data-swiper-parallax-duration="1600">У нас Ви можете купити меблі з Польщі за найбільш привабливими цінами від <br>
                    виробників: Signal, Halmar, VOX, CAMA mebel, BRW.</p>
            </div>
        </div>
    </div>
    <div class="swiper-pagination"></div>
    <!-- Add Arrows -->
    <div class="swiper-button-next"> @@include('mixins/svg-icon.html', {"name": "arrow-slider", "class": "swiper-container__arrow arrow-next"})</div>
    <div class="swiper-button-prev"> @@include('mixins/svg-icon.html', {"name": "arrow-slider", "class": "swiper-container__arrow arrow-prev"})</div>
</div>
